/* Laddar in font */
@font-face {
  font-family: customFonts;
  src: url(Neon.ttf);
}

/* Sätter alla fonter och tar bort automatiska margins */
* {
  margin: 0;
  font-family: customFonts;
}

/* HUVUDSIDA */
/* Stylar header för att den ska ligga över allt och vara kvar på toppen */
header {
  top: 0;
  position: sticky;
  height: 10vh;
  background-color: rgb(219, 212, 212);
  z-index: 1;
}

/* Ger styling till nålen som animeras in */
.needle {
  transition: 2s;
  left: 95px;
  top: -10vh;
  position: absolute;
  height: 10vh;
  z-index: 2;
}

/* Osynlig div som ligger över logo och nål för att nålen in ska blocka event listener hover */
.inv-div {
  left: 40px;
  height: 10vh;
  width: 10vh;
  position: absolute;
  z-index: 10;
}

/* Animation för nålen som kommer in */
#needle-animation {
  top: -3vh;
  transition: 2s;
}

/* Loggan, skivan */
.logo {
  position: relative;
  height: 10vh;
  left: 40px;
  transition: all 0.5s;
  animation: rotation 1.3s infinite linear;
  animation-play-state: paused;
}

/* Kör animationen som är en oändlig rotation */
#run-animation {
  animation-play-state: running;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Searchbar i header */
#search {
  padding-left: 15px;
  position: absolute;
  border: 2px solid darkgray;
  border-radius: 10px;
  background-color: gray;
  color: white;
  height: 6vh;
  width: 60vw;
  margin-top: 2vh;
  margin-left: 5vw;
  font-size: 20px;
}

/* Placeholder text i searchbar vit */
#search::placeholder {
  color: white;
}

/* Knapp i header för att komma till login sidan */
.login-button {
  position: absolute;
  height: 5vh;
  width: max(100px, 5vw);
  right: 5vw;
  top: 2.5vh;
  background-color: gray;
  border-radius: 10px;
  transform: scale(1);
  transition: 0.3s;
}

/* Faktiska länken för att komma till login sidan */
.login-link {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  text-decoration: none;
  color: rgb(230, 230, 230);
  justify-content: center;
  align-items: center;
}

/* Förstora vid hover */
.login-button:hover {
  transform: scale(1.03);
  transition: 0.5s;
}

/* Grid för skivor */
.gridbox {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
  grid-column-gap: 5%;
  grid-row-gap: 30px;
  justify-items: center;
  align-items: center;
  width: 80%;
  margin-left: 10%;
  z-index: 0;
}

/* När det inte finns några resultat */
.no-results {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* produkter */
.product {
  width: 300px;
  height: 450px;
  box-shadow: 0 0 0 0.5vh silver;
  transition: 0.3s;
  margin: 2vh;
  background-color: #f5f5f5;
  font-family: sans-serif;
  position: relative;
}

/* Förstora produkt vid hover */
.product:hover {
  transition: 0.5s;
  transform: scale(1.05);
}

/* Produkt bild */
.productimage {
  margin: 15px;
  width: 270px;
  height: 270px;
}

/* Produkt titel */
.producttitle {
  font-size: 11px;
  margin-left: 15px;
  margin-top: 5px;
}

/* Produkt artist */
.productartist {
  font-size: 11px;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 30px;
}

/* Information om produkten, pris och typ */
.productinformation {
  display: flex;
  margin-left: 20px;
  width: 260px;
  text-align: center;
  vertical-align: middle;
  line-height: 35px;
  color: white;
  position: absolute;
  bottom: 15px;
}

/* Divar i ovanstående */
.productinformationdivs {
  width: 50px;
  height: 35px;
  background-color: rgb(69, 69, 69);
}

/* Produkt typ, CD eller LP */
.producttype {
  margin-left: 160px;
}

#display-none {
  display: none;
}

/* LOGGA IN SIDA */
/* Bakgrund till main i login sidan */
.login-body {
  height: 90vh;
  width: 100%;
  background-image: url("Images/album_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Lådan som login formuläret finns i */
.login-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  width: max(300px, 30vw);
  height: max(410px, 40vh);
  background-color: rgb(219, 212, 212);
  color: rgb(32, 32, 32);
  border: 10px solid rgb(32, 32, 32);
}

/* Formuläret */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Avstånd mellan children i formuläret */
.form>* {
  margin: 2vh 0;
}

/* Knappen för att logga in i formuläret */
#login-button {
  width: 100px;
  height: 35px;
  border: 1px solid rgb(32, 32, 32);
  border-radius: 7px;
}

/* Text inputs i formuläret */
.text-input {
  padding: 5px;
  border: 1px solid rgb(32, 32, 32);
  border-radius: 7px;
}

/* PRODUKT SIDA */

.product-site-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

/* Body till produkt */
.product-body {
  width: 60vw;
  background-color: #f5f5f5;
}

.product-site-image {
  margin-top: 5vh;
  margin-left: 5vh;
  width: 25vw;
  height: 25vw;
}

.product-site-title-artist-box {
  margin-top: 4vh;
  margin-right: 5vh;
  position: relative;
  width: 100%;
}

.product-site-title-artist {
  margin-left: 5vh;
  margin-top: 2vh;
}

.product-site-div {
  display: flex;
  width: 100%;
  height: calc(10vh + 25vw)
}

.product-site-information-box {
  margin-left: 5vh;
  margin-bottom: 5vh;
  font-size: 20px;
}

#add-to-cart-button {
  bottom: 5vh;
  right: 5vh;
  position: absolute;
}